.register-container {
  width: 350px;
  margin: 80px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background: #ff3d00;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:disabled {
  background: gray;
}

.alert {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
}

.alert-error {
  background-color: #fee2e2;
  color: #ef4444;
  border: 1px solid #f87171;
}

.alert-success {
  background-color: #dcfce3;
  color: #22c55e;
  border: 1px solid #86efac;
}