<div class="container mt-4">
  <h2>Add/Update Theater</h2>

  <form (ngSubmit)="submit()">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label">Theater Name</label>
        <input type="text" [(ngModel)]="form.name" name="name" class="form-control" placeholder="Enter name">
      </div>

      <div class="col-md-6">
        <label class="form-label">Select Location</label>
        <select [(ngModel)]="form.locationId" name="locationId" class="form-select">
          <option [ngValue]="null" disabled>-- Select a City/Location --</option>
          <option *ngFor="let loc of locationList" [value]="loc.id">
            {{ loc.city }} - {{ loc.location }} ({{ loc.state }})
          </option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Save Theater</button>
  </form>

  <hr>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Theater Name</th>
        <th>Location Info</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of theaters">
        <td>{{ t.name }}</td>
        <td>
          {{ t.location }} 
        </td>
      </tr>
    </tbody>
  </table>
</div>