<div class="hero">

  <!-- Background Image -->
  <div class="overlay"></div>

  <div class="content container">
    
    <!-- Poster -->
    <div class="poster">
      <img src="assets/dhurandhar.jpg" />
    </div>

    <!-- Details -->
    <div class="details">
      <h1>Dhurandhar The Revenge</h1>

      <div class="rating-box">
        ⭐ <span>9.5/10</span>
        <small>(350K+ Votes)</small>
        <button class="rate-btn">Rate now</button>
      </div>

      <p class="meta">
        3h 49m • Action, Thriller • A • 19 Mar, 2026
      </p>

      <div class="tags">
        <span>2D</span>
        <span>IMAX</span>
        <span>Hindi</span>
        <span>+3</span>
      </div>

      <button class="book-btn">Book tickets</button>
    </div>

  </div>
</div>