<div class="container" *ngIf="isSeat">

  <div class="theatre-card" *ngFor="let theatre of theatres" >

    <div class="theatre-header">
      <h3>{{ theatre.name }}</h3>
      <span class="cancel" >Non-cancellable</span>
    </div>

    <div class="show-times">
      <button 
        *ngFor="let show of theatre.shows"
        (click)="selectShow(show)"
        [ngClass]="{
          'available': show.type === 'available',
          'fast': show.type === 'fast'
        }"
      (click)="OnClk()">
        {{ show.time }}
      </button>
    </div>

  </div>

</div>
<div *ngIf="!isSeat">
<app-seats-input  [totalRows]="6"
  [seatsPerRow]="8"
  [bookedSeats]="['A1','A2','C3','D5']">
</app-seats-input>
</div>