<div class="container">
  <h2 class="title">Recommended Movies</h2>

  <div class="movie-grid">
    <div class="movie-card" *ngFor="let i of movie">
      <div class="overlay" (click)="goToMovie(i)">

      <div class="poster">
        <img [src]="(i.posterData ? 'data:image/jpeg;base64,' + i.posterData : (i.posterUrl || 'assets/placeholder.jpg')) | safeUrl" [alt]="i.title">
      </div>

      <div class="info">
        <h3>{{ i.title }}</h3>
        <p class="genre">{{ i.genre }}</p>
        <div class="rating">
          <span class="star blink-effect">⭐</span>
          <span class="rating-val">{{ i.rating | number:'1.1-1' }}/5</span>
        </div>
      </div>
</div>
    </div>
  </div>
</div>