body {
  background: #0f172a;
  font-family: 'Segoe UI', sans-serif;
}

/* Container */
.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 25px;
  background: #1e293b;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  color: white;
}

/* Title */
.title {
  text-align: center;
  margin-bottom: 20px;
  color: #f43f5e;
}

/* Grid Layout */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

/* Full width fields */
.full {
  grid-column: span 2;
}

/* Form Group */
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group .txt{
    width: 100%;
}

/* Labels */
label {
  margin-bottom: 5px;
  font-size: 13px;
  color: #94a3b8;
}

/* Inputs */
input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #334155;
  color: white;
  transition: 0.3s;
}

/* Focus effect */
input:focus {
  background: #475569;
  box-shadow: 0 0 5px #f43f5e;
}

/* Checkbox */
.checkbox {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Button */
.btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #f43f5e, #ec4899);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover effect */
.btn:hover {
  transform: scale(1.03);
  box-shadow: 0 5px 15px rgba(244, 63, 94, 0.5);
}
.chip-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
  background: #334155;
  border-radius: 10px;
  position: relative;
}

/* Chips */
.chip {
  background: linear-gradient(135deg, #f43f5e, #ec4899);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
}

/* Remove */
.chip span {
  cursor: pointer;
}

/* Input */
.chip-wrapper input {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  padding: 5px;
  min-width: 120px;
}

/* Dropdown */
.dropdown {
  background: #1e293b;
  border-radius: 8px;
  margin-top: 5px;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

/* Dropdown item */
.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
  color: #e2e8f0;
}